/* Box Model Hack */
* {
     box-sizing: border-box;
     color: blanchedalmond;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
     background: url('/img/galaxy1.jpg') no-repeat center fixed;     
    background-size: cover;
}


body {
     min-height: 100vh;
     max-width: auto;
     margin-left: 3rem;
     margin-right: 3rem;
     margin-top: 5rem;
}



/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1{
     font-family: 'Silkscreen', cursive;
     font-size: 2.5rem;
}

p{
     font-size: 1.3rem;
     font-family: 'Kanit', sans-serif;
}

div{
     height: 300px;
     width: auto;
}

img {
     border-radius: 4px;
     border: 0;
     position: relative;
     max-width: 100%;
}

iframe{

}

h3,h2,button,input{
     text-align: justify;
     font-family: 'Kanit', sans-serif;
    
}

input, button{
     color: rgb(28, 28, 151);
}